<tr class = "table-map-content" onclick="triggerCompletion(this, false)">
	<td class = "table-map-name" data-content-prepend = "name"><span data-class="isIndoor"></span></td>
	<td class = "table-map-data"><span data-class = "l0c"><span data-class = "l0t" data-content = "level0"></span> <span class = "table-map-owned" data-id="l0id"></span></span></td>
	<td class = "table-map-data"><span data-class = "l1c"><span data-class = "l1t" data-content = "level1"></span> <span class = "table-map-owned" data-id="l1id"></span></span></td>
	<td class = "table-map-data"><span data-class = "l2c"><span data-class = "l2t" data-content = "level2"></span> <span class = "table-map-owned" data-id="l2id"></span></span></td>
	<td class = "table-map-data"><span data-class = "l3c"><span data-class = "l3t" data-content = "level3"></span> <span class = "table-map-owned" data-id="l3id"></span></span></td>
	<td class = "table-map-data"><span data-class = "l4c"><span data-class = "l4t" data-content = "level4"></span> <span class = "table-map-owned" data-id="l4id"></span></span></td>
	<td class = "table-map-tag"><span class = "completion-content"></span></td>
</tr>